
# Created by https://www.gitignore.io/api/xamarinstudio
# Edit at https://www.gitignore.io/?templates=xamarinstudio

### XamarinStudio ###
bin/
obj/
*.userprefs
.packages
VeterinarioConsulta/.vs/**
.vs/VeterinarioConsulta/v15/Server
# End of https://www.gitignore.io/api/xamarinstudio